<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="login">
	            <div th:if="${message}" class="alert alert-danger" role="alert">
	                [[${message}]]
	            </div>
	            <form th:action="@{/security/login}" method="POST">
	                <div class="mb-3">
	                    <label for="input-username" class="form-label">Username</label>
	                    <input type="text" class="form-control" id="input-username" name="username">
	                </div>
	                <div class="mb-3">
	                    <label for="input-password" class="form-label">Password</label>
	                    <input type="password" class="form-control" id="input-password" name="password">
	                </div>
	                <div class="mb-3 form-check">
	                    <input type="checkbox" class="form-check-input" id="chk-remember" name="remember-me">
	                    <label class="form-check-label" for="chk-remember">Remember me?</label>
	                </div>
	                <button class="btn btn-primary">Login</button>
	            </form>
            </div>
        </div>
    </main>
</body>

</html>