<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/student/save" method="POST" th:object="${sv}">
		<input th:field="*{email}" placeholder="Email?">
		<br>
		<input th:field="*{fullname}" placeholder="Fullname?">
		<br>
		<input th:field="*{gender}" th:value="true" type="radio"> Male
		<input th:field="*{gender}" th:value="false" type="radio"> Female
		<br>
		<select th:field="*{country}">
			<option value="">------------</option>
			<option value="VN">Việt Nam</option>
			<option value="US">United States</option>
		</select>
		<hr>
		<button>Save</button>
	</form>
</body>
</html>